# TODO: Rename to .env
C8Y_BASEURL=https://your-tenant.cumulocity.com
C8Y_TENANT=t1234
C8Y_USER=your-username@cumulocity.com
C8Y_PASSWORD="your-password"

# DEV_MODE values:
# Set DEV_MODE=true to skip auth checks and use DEV_MODE_DOMAIN_URL/DEV_MODE_DOMAIN_ID
# in configuration service.
DEV_MODE=false
DEV_MODE_DOMAIN_URL=https://your-dev-tenant.cumulocity.com
DEV_MODE_DOMAIN_ID=t12345